body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 100vh;

}

form{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);

}
label{
display: block;
margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom:15px;
    border: 1px dashed #ccc;
    border-radius:3px;
}
textarea{
    height: 120px;
}
button{
    background-color: #076eaa;
    color: #fff;
    padding: 12px 20px;
    border: none; 
    cursor: pointer; 
}
button:hover{
background-color: rgb(6, 115, 143);
}